:root {
    --primary-color: #C9D8F9;
    --appBar-color: #b6cbf9;
    --Tab-color: #a6c1fb;
    --TabSlider-color: rgb(0, 128, 255);
    --secondary-color: #47475A;
    --text-color: #204827;
    /* Crowne Plaza Colors */
    /* --primary-color: #44416E;
    --appBar-color: #413f69;
    --secondary-color: #ff8400;
    --text-color: #ccb158; */
}